@import 'functions/size';
@import 'mixins/font-size';
@import 'variables';
@import '../../node_modules/normalize.css/normalize';

/* 
    core
*/

:root {
    --font: Arya, sans-serif;
    --color: #000;
    --color-revert: #fff;
    --sub-color: #777575;
    --primary: #f6f2e9;
}

* {
    box-sizing: border-box;
}

.wrap {
    max-width: $maxWidth + px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

html {
    font-size: 16px;
    @media (max-width: 560px) {
        font-size: 8px;
    }
}

body {
    min-width: $minWidth + px;
    font: bold scale(38) / 1.8 var(--font);
    color: var(--color);
    background-color: var(--primary);
}

a {
    text-decoration: none;
    display: inline-block;
    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
}

.view {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.block {
    margin-top: rem(184);
    display: flex;
    position: relative;

    &--column {
        flex-direction: column;
    }

    @media (min-width: 560.98px) {
        &--revert .wrap {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &--1 {
        p {
            margin-top: rem(184);

            @media (min-width: 560.98px) {
                max-width: 40%;
            }

            @media (min-width: 1105px) {
                margin-left: 50px;
                max-width: rem(964);
            }
        }
        @media (min-width: 560.98px) {
            &__img {
                position: absolute;
                width: rem(1022);
                height: rem(624);
                top: rem(200);
                right: calc(50% - #{rem(1000)});
                background: url(../images/a699335432b01cc0bca78e6029ae9906.png)
                    center no-repeat;
                background-size: contain;
            }
        }
    }

    &--2 {
        @media (min-width: 740px) {
            &__img {
                position: absolute;
                width: rem(1022);
                height: rem(899);
                top: rem(407);
                left: calc(50% - #{rem(1022)});
                background: url(../images/aabc6f87186437ec1333237ea7273e79.png)
                    center no-repeat;
                background-size: contain;
            }
            h2 {
                margin-right: rem(290);
            }
            p {
                margin-top: rem(231);
                max-width: rem(881);
            }
        }

        @media (min-width: 1105px) {
            padding: rem(207) 0;
        }

        @media (max-width: 1105px) {
            &__img {
                top: 0;
                left: -10%;
            }
        }

        @media (max-width: 920px) {
            &__img {
                left: -20%;
            }
        }

        @media (max-width: 850px) {
            &__img {
                left: -40%;
            }
        }
    }

    &--3 {
        @media (min-width: 560.98px) {
            padding-bottom: rem(300);
            p {
                margin-top: rem(184);
                max-width: rem(876);
                margin-left: rem(110);
            }

            &__img {
                position: absolute;
                width: rem(1317);
                height: rem(1062);
                top: rem(-200);
                right: calc(50% - #{rem(1317)});
                background: url(../images/1fac5eb51f091c9fb633045e17dddd03.png)
                    center no-repeat;
                background-size: contain;
                z-index: -1;
            }
        }

        @media (max-width: 850px) {
            &__img {
                top: initial;
                bottom: rem(-250);
                right: 0;
            }
        }
    }

    &--4 {
        @media (min-width: 740px) {
            &__img {
                position: absolute;
                width: rem(866);
                height: rem(1146);
                top: rem(200);
                left: calc(50% - #{rem(1146)});
                background: url(../images/ec0f26add16fa1f4839a00edd15e39be.png)
                    center no-repeat;
                background-size: contain;
            }
        }

        @media (max-width: 1105px) {
            &__img {
                top: -25%;
            }
        }
    }

    &--5 {
        @media (min-width: 560.98px) {
            padding-bottom: rem(300);
            p {
                margin-top: rem(211);
                max-width: rem(1128);
            }

            &__img {
                position: absolute;
                width: rem(1278);
                height: rem(899);
                top: rem(50);
                right: calc(50% - #{rem(1278)});
                background: url(../images/e72df8889c6c22d2fa6cdcbfcc55d046.png)
                    center no-repeat;
                background-size: contain;
            }
        }

        @media (max-width: 820px) and (min-width: 560.98px) {
            p {
                max-width: rem(800);
            }
        }
    }

    &--6 {
        @media (min-width: 820px) {
            padding-bottom: rem(300);
            h2 {
                margin-right: rem(600);
            }
            p {
                margin-top: rem(251);
                max-width: rem(1073);
            }

            &__img {
                position: absolute;
                width: rem(1022);
                height: rem(624);
                top: rem(307);
                left: calc(50% - #{rem(1022)});
                background: url(../images/3b8262d76f3fb5c3e3cc0ce404af9633.png)
                    center no-repeat;
                background-size: contain;
            }
        }

        @media (max-width: 1105px) {
            &__img {
                left: -10%;
            }
        }

        @media (max-width: 991.98px) {
            &__img {
                left: -20%;
            }
        }

        @media (max-width: 900px) {
            &__img {
                left: -30%;
            }
        }
    }

    &--7 {
        @media (min-width: 560.98px) {
            padding-bottom: rem(300);

            p {
                margin-top: rem(211);
                max-width: rem(725);
            }

            &__img {
                position: absolute;
                width: rem(761);
                height: rem(899);
                top: rem(50);
                right: calc(50% - #{rem(861)});
                background: url(../images/e7517d1ceeb9b3a9e82b65321008f5ca.png)
                    center no-repeat;
                background-size: contain;
            }
        }

        @media (min-width: 1105px) {
            p {
                margin-left: rem(650);
            }
        }

        @media (min-width: 768px) {
            h2 {
                margin-left: rem(450);
            }
        }

        @media (max-width: 767.98px) {
            &__img {
                right: -30px;
            }
        }
    }

    &--delivery {
        @media (min-width: 560.98px) {
            &__img {
                position: absolute;
                width: rem(761);
                height: rem(735);
                top: rem(150);
                left: calc(50% - #{rem(961)});
                background: url(../images/image-18-1.png) center no-repeat;
                background-size: contain;
            }
        }

        &__content {
            padding: rem(150) 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            @media (min-width: 560.98px) {
                justify-content: flex-end;
            }

            @media (min-width: 768px) {
                padding-right: 10%;
            }

            > ul {
                width: scale(464);

                @media (min-width: 968px) {
                    margin-left: rem(200);
                }

                @media (max-width: 500px) {
                    margin-bottom: 30px;
                }

                > li {
                    height: rem(172);
                    line-height: 1.4;
                    margin-bottom: rem(50);

                    > span {
                        max-width: scale(364);
                        display: block;
                        margin: 5px auto;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    &--8 {
        > .wrap {
            display: flex;
        }

        h2 {
            margin-top: rem(100);
        }

        .counter {
            margin-top: rem(200);
        }

        p {
            max-width: rem(1022);
        }

        &__img {
            margin-right: 10px;
            width: rem(1022);
            height: rem(738);
            background: url(../images/0aea5369586e3ec1be863a19463ce023.png)
                center no-repeat;
            background-size: contain;
        }
    }

    .d-none {
        @media (max-width: 991.98px) {
            display: none;
        }
    }

    &--9 {
        > .wrap {
            display: flex;
        }

        h2,
        .counter {
            margin-top: rem(300);
        }

        p {
            max-width: rem(1022);
        }

        &__img {
            margin-left: 10px;
            width: rem(1022);
            height: rem(943);
            background: url(../images/3ad215357ab6454cbb361e13d9ec131c.png)
                center no-repeat;
            background-size: contain;
        }
    }

    &--10 {
        &__img {
            margin-right: 10px;
            width: rem(1143);
            height: rem(698);
            background: url(../images/817d79179473709e81b40bff5d46bfcc.png)
                center no-repeat;
            background-size: contain;
        }
    }

    &--11 {
        &__img {
            margin-left: 10px;
            width: rem(1022);
            height: rem(1187);
            background: url(../images/497dfdadffd94b499ffe6e821d703154.png)
                center no-repeat;
            background-size: contain;
        }
    }

    &--12 {
        &__img {
            margin-right: 10px;
            width: rem(802);
            height: rem(1059);
            background: url(../images/892df8691d45d04f18ecb3e5fbb91aa3.png)
                center no-repeat;
            background-size: contain;
        }
    }
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mla {
    margin-left: auto;
}

.mb-f {
    margin-bottom: rem(71);
}

/* 
    typography
*/

.tac {
    text-align: center;
}

.font_1 {
    font-size: scale(110);

    @media (max-width: 420px) {
        font-size: scale(80);
    }
}

.font_1_2 {
    font-size: scale(96);
    line-height: scale(100);
    color: var(--color-revert);

    @media (max-width: 420px) {
        font-size: scale(80);
    }
}

.font_2 {
    font-size: scale(44);
    display: flex;
    align-items: baseline;
}

.font_3 {
    font-size: scale(54);
}

.font_4 {
    font-size: scale(28);
}

.fwn {
    font-weight: normal;
}

.fwb {
    font-weight: bold;
}

/* 
    colors
*/

.color-dark {
    color: var(--color);
}

.color-white {
    color: var(--color-revert);
}

.color-sub {
    color: var(--sub-color);
}

/* 
    components
*/
.table {
    margin: rem(321) 0;
    width: 100%;
    overflow-x: auto;

    table {
        width: 90%;
        white-space: nowrap;
    }

    td {
        height: rem(180);
        padding: 10px;
    }
}

.banner {
    margin-top: rem(200);
    padding: rem(150) 0 rem(124);
    background-color: #393839;

    &__text {
        padding: rem(70) 0;
        background: url(../images/ee3fdc151f91884f382ccc65fc74f1d1.png) center
            no-repeat;
        text-align: center;
        font-size: rem(48);
        line-height: rem(66);
        color: #393839;
        background-size: contain;
    }
}

.social {
    display: flex;
    align-items: flex-end;

    li {
        margin-left: rem(30);
    }

    a {
        opacity: 0.5;
        transition: opacity 0.2s;

        &:hover {
            opacity: 1;
        }
    }
}

.instagram {
    background: url(../images/instagram-sketched.svg);
}

.facebook {
    background: url(../images/facebook.svg);
}

.vk {
    background: url(../images/vk.svg);
}

.instagram,
.facebook,
.vk {
    width: 24px;
    height: 24px;
    background-size: contain;
}

.chat {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 999;
    width: scale(120);
    height: scale(120);
    background: #0088cc url(../images/chat.svg) center no-repeat;
    background-size: 60%;
    border-radius: 50%;
    transition: background-color 0.3s;
    box-shadow: 0 2px 20px rgba(#000, 0.3);
    &:hover {
        background-color: darken(#0088cc, 15%);
    }
}

.counter {
    min-width: rem(243);
    width: rem(243);
    height: rem(156);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/8f3f643461d0962b56896db7f1c926e0.png) center
        no-repeat;
    background-size: cover;
    font-size: rem(110);
    margin-right: rem(42);
}

.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: scale(37);
    display: flex;
    align-items: center;
    $logo: scale(196);

    &__logo {
        min-width: $logo;
        max-width: $logo;
    }

    &__menu {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        a.active {
            text-decoration: underline;
        }

        @media (min-width: 680px) {
            padding-right: $logo;
        }

        @media (max-width: 560px) {
            margin-right: 0;
            margin-left: 15px;
            justify-content: flex-end;
            flex-grow: 1;
        }

        > li {
            margin: 0 vw(60);
            @media (min-width: 920px) {
                margin: 0 scale(120);
            }
        }
    }
}

/*
    sections
*/
.head {
    position: relative;

    &--breeders,
    &--delivery {
        .nav {
            position: relative;
            left: initial;
            transform: initial;
        }
    }
    &--breeders {
        .head__img {
            margin-top: rem(80);
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background: url(../images/9544dc271bcc87501a7d6b5dbd18c444.png)
                center top no-repeat;
            background-size: cover;
        }
    }

    &--delivery .head__dog {
        position: absolute;
        top: rem(700);
        right: calc(50% - #{rem(1335)});
        width: rem(661);
        height: rem(735);
        background: url(../images/image-18.png) center top no-repeat;
        background-size: cover;

        @media (max-width: 1105px) {
            top: rem(800);
            right: calc(50% - #{rem(661)});
        }

        @media (max-width: 560.98px) {
            top: initial;
            bottom: rem(-200);
        }
    }

    &:not(&--breeders):not(&--delivery) {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &::after {
            content: '';
            background: url('../images/image 3.png');
            background-size: cover;
            position: absolute;
            bottom: rem(30);
            width: rem(95);
            height: rem(137);
            animation: 0.6s linear 0s infinite alternate arrow;

            @keyframes arrow {
                from {
                    bottom: rem(60);
                }
                to {
                    bottom: rem(30);
                }
            }
        }

        &__dog {
            position: absolute;
            z-index: -1;
            left: 0;
            top: vh(451);
            background: url('../images/cfc044dbb13eee50c11e882f0f379167.png') -1px
                center no-repeat;
            background-size: contain;
            width: rem(448);
            height: rem(844);

            @media (max-width: 560px) {
                top: initial;
                bottom: vh(100);
            }
        }
    }
}

.free_delivery {
    width: 100%;
    min-height: scale(116);
    background: url('../images/a0fc023066ec3a496cc250c197a8e72d.png') center
        no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-revert);
    margin: 0 auto;

    @media (min-width: 560.98px) {
        max-width: rem(1012);
    }
}

.alert {
    background-color: #dfd7cb;
    font-size: scale(64);
    padding: rem(45) 0;
    margin-bottom: rem(79);
}

.footer {
    background-color: #313130;
    line-height: 1.5;
    color: rgba(#f7f2ea, 0.5);
    font-size: 14px;
    padding-bottom: rem(182);

    > .wrap {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: 1105px) {
            justify-content: space-between;
        }

        @media (min-width: 768px) {
            margin-top: rem(182);
        }

        > * {
            @media (max-width: 768px) {
                width: 50%;
                margin-top: rem(50);
            }

            &:not(:first-child) {
                margin-left: 20px;
            }
        }
    }

    &__img {
        object-fit: contain;
        @media (min-width: 1105px) {
            min-width: scale(624);
            width: scale(624);
        }
        min-width: scale(312);
        width: scale(312);
    }

    p {
        margin: 0 0 0 20px;
        @media (min-width: 800px) {
            margin: 0 0 0 rem(110);
        }
    }

    &__list {
        h5 {
            margin: 0;
        }

        li {
            font-size: 12px;
        }

        a {
            color: inherit;
            font-size: 12px;
        }
    }

    @media (min-width: 800px) {
        .social {
            margin-left: auto !important;
        }
    }
}

.description-wrap {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 640px) {
        &__bl {
            flex-basis: 50%;
        }
    }
}

#location {
    width: 100%;
    height: rem(1372);
}
